.App {
  text-align: center;
}

.startButton {

}
.startButton:hover {
  cursor: pointer;
}

.pauseButton {
  cursor: pointer;
}

.pauseButton:hover {

}

.resetButton {

}

.resetButton:hover {
  cursor: pointer;
}

