* {
  background-color: #FFF2CC;
  font-family: 'Lato', sans-serif;
}

.App {
  text-align: center;
}

#title {
  color: #38761D;
  font-weight: 500;
  font-size: 50px;
}

.flexbox {
  display: flex;
}

#left-flex {
  flex-grow: 4;
}

#youtube-div{
  align-items: center;
}

#controls {
  margin-left: auto;
  padding-right: 100px;
  padding-top: 100px;
  width: max-content
}

iframe {
  left: 350px;
  top: 25px;
  height: 400px;
  width: 600px;
  text-align: center;
}

.startButton {

}
.startButton:hover {
  cursor: pointer;
}

.pauseButton {
  cursor: pointer;
}

.pauseButton:hover {

}

.resetButton {

}

.resetButton:hover {
  cursor: pointer;
}

img {
  margin-top: 35px;
  max-width: 160px;
  max-height: 280px;
}